.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.speech-actions-list {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  flex: 1;
}

.speech-actions-list__item {
  padding: 3px;
  width: calc(100% / 3);
}
